
<section class="row">
    <header> <!-- uruchomic funkcjie gdy fromularz jest skladany ng-submit-->
        <form id="todo-form" ng-submit="homeController.addTodo()">
        	<input id="new-todo" class="form-control"  ng-model="homeController.userText" ng-disabled="saving" />
        	
        </form>  
        <button type="button" class="btn btn-primary btn-sm" ng-click="homeController.onChangeTab('user')">Uzytkownik wyszukiwany</button>
       <button type="button" class="btn btn-primary btn-sm" ng-click="homeController.onChangeTab('all')">Wszyscy</button>
 
    	<button type="button" class="btn btn-primary btn-sm" ng-click="homeController.clearAllCompleted()">Usun zroione</button>
     	<button type="button" class="btn btn-primary btn-sm" ng-click="homeController.onChangeStatus('')">Wszystkie</button>
     	<button type="button" class="btn btn-primary btn-sm" ng-click="homeController.onChangeStatus('active')">Aktywne</button>
    	<button type="button" class="btn btn-primary btn-sm" ng-click="homeController.onChangeStatus('completed')">Zrobione</button> 
    	</div>
    </header>    
    
    <section>
        <div class="container">
                            	<div class="form-inline" ng-repeat="todo in homeController.todos | filter:homeController.statusFilter | filter:homeController.userFilter">
                            		<div>
	                            			<div class="form-group">
	                            				<input data-toggle="toggle" ng-show="todo.user == homeController.user" type="checkbox" ng-model="todo.completed" ng-change="homeController.doneEditing(todo)">
	                            			</div>
	    									<span ng-hide="todo == homeController.editingToDo" ng-dblclick="homeController.editTodo(todo)">{{todo.title}}</span>
	    							   		 <span>{{todo.user}}</span>
	    									<button class="btn btn-primary btn-sm" ng-show="todo.user == homeController.user" ng-click="homeController.removeTodo(todo)">Usun</button>
                            				<form class="form-inline" ng-submit="homeController.doneEditing(todo)">
	    							  	  		<input ng-show="todo == homeController.editingToDo" ng-model="todo.title" ng-blur="homeController.doneEditing(todo)" autofocus />
							  	 	 </form>
                            		</div>
                            		</div>
                            		</div><!-- automatycznie przydzielac kontrole elemetowi data-toggle-->
    		<!--ukrywanie sekcji po podwujnym kliknieciu ng-hide-->
    		<!--Dyrektywa mówi angularjs Co zrobić, gdy element HTML traci ostrość ng-blur-->
    </section>
   <section>
       <p>
    <div class="checkbox">
  		<label><input id="toggle-all" ng-model="isAllMarked" type="checkbox" ng-click="homeController.markAll(isAllMarked)">Zaznacz wszystkie</label>
	</div>
		</p>
</section>
    
</section>