<section class="row">
    <header>
        <form id="todo-form" ng-submit="homeController.addTodo()">
        	<input id="new-todo" class="form-control text-center" ng-model="homeController.userText" ng-disabled="saving" />
        </form>   
      
       
         <button type="button" class="btn btn-primary" ng-click="homeController.onChangeTab('user')">User</button>
       <button type="button" class="btn btn-primary" ng-click="homeController.onChangeTab('all')">All</button>
    </header>    
    
    <section>
        <li ng-repeat="todo in homeController.todos | filter:homeController.statusFilter | filter:homeController.userFilter" class="list-group">
                                <div class="list-group-item">
								<input data-toggle="toggle" ng-show="todo.user == homeController.user" type="checkbox" ng-model="todo.completed" ng-change="homeController.doneEditing(todo)">
								<span ng-hide="todo == homeController.editingToDo" ng-dblclick="homeController.editTodo(todo)">{{todo.title}}</span>
								<form ng-submit="homeController.doneEditing(todo)">
						    	<input ng-show="todo == homeController.editingToDo" ng-model="todo.title" ng-blur="homeController.doneEditing(todo)" autofocus />
    							    </form>
    							    <span>{{todo.user}}</span>
								<button class="destroy" ng-show="todo.user == homeController.user" ng-click="homeController.removeTodo(todo)">Destroy</button>
    						</div>
    		</li>
    </section>
    
</section>
<footer>
    <input id="toggle-all" ng-model="isAllMarked" type="checkbox" ng-click="homeController.markAll(isAllMarked)">
    <ul id="filters">
        <li>
							<a ng-click="homeController.clearAllCompleted()">Zamknac zrobione</a>
						</li>
						<li>
							<a ng-click="homeController.onChangeStatus('')">Wszystkie</a>
						</li>
						<li>
							<a ng-click="homeController.onChangeStatus('active')">Aktywne</a>
						</li>
						<li>
							<a ng-click="homeController.onChangeStatus('completed')">Zrobione</a>
						</li>
					</ul>
</footer>