<div>
   <user-input></user-input>
    
    <div>
        <div ng-show="homeController.user">
            <div class="col-md-6 well text-center">
        <div class="list-group">
            <a href="" class="list-group-item list-group-item-info" ng-click="homeController.onuser()"> {{homeController.user}} To Do</a>
            <a href="" class="list-group-item list-group-item-info" ng-click="homeController.onall()"> All</a>
        </div>
        </div>
    </div>
        
            <div ng-switch='homeController.selectedTab'>
                <div ng-switch-when='user'>
                    <user-to-do></user-to-do>
                </div>
                <div ng-switch-when='all'>
                    <all-to-do></all-to-do>
                </div>
            </div>
        </div>
</div>