<div>
    <div>
        <div ng-show="homeController.user">
        
            <!--<div style="width:50% margin:0 auto">-->
        <div class="list-group col-md-6 text-center">
            <a href="" class="list-group-item list-group-item-info" ng-click="homeController.onuser()"> to do</a>
            <a href="" class="list-group-item list-group-item-info" ng-click="homeController.onall()"> statystyki</a>
        </div>
        
    </div>
    <user-input></user-input>
        
            <div ng-switch='homeController.selectedTab'>
                <div ng-switch-when='user'>
                    <user-to-do></user-to-do>
                </div>
                <div ng-switch-when='all'>
                    <all-to-do></all-to-do>
                </div>
            </div>
        </div>
        
</div>